<!-- <div class="formularioRegistro">
    <h2>CRUD QUALITY</h2>
    <form [formGroup]= "personForm" (ngSubmit)="guardar()">

        <div class="formGroup">
            <label>Nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
        </div>

        <div class="formGroup">
            <label>Apellido</label>
            <input type="text" formControlName="apellido" class="form-control">
        </div>
        
        <div class="formGroup">
            <label>Edad</label>
            <input type="number" formControlName="edad" class="form-control">
        </div>

        <div class="formGroup">
            <label>Pais</label>
            <input type="text" formControlName="pais" class="form-control">
        </div>

        <div class="formGroup">
            <label>Estado</label>
            <input type="text" formControlName="estado" class="form-control">
        </div>

    </form>
</div> -->

<!-- formulario de creación -->

<style>
</style>
<h2>CRUD QUALITY</h2>
<div class="formularioRegistro">
<form [formGroup]="personForm" (ngSubmit)="guardar()">
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" formControlName="nombre" class="form-control">
  </div>
  <div class="form-group">
    <label>Apellido</label>
    <input type="text" formControlName="apellido" class="form-control">
  </div>

  <div class="form-group">
    <label>Edad</label>
    <input type="number" formControlName="edad" class="form-control">
  </div>

  <div class="form-group">
    <label>Pais</label>
    <select name="pais" id="pais" formControlName="pais" class="form-control">
      <option [ngValue]="item" *ngFor="let item of pais">{{item.nombre}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Estado o región</label>
    <select name="estado" id="estado" formControlName="estado" class="form-control">
      <option [ngValue]="item" *ngFor="let item of estado">{{item.nombre}}</option>
    </select>
  </div>
  <button type="submit" [disabled]="personForm.invalid">Guardar</button>
</form>
</div>

<!-- tabla de lectura -->
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>País</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of persona">
      <td>{{item.nombre}}</td>
      <td>{{item.apellido}}</td>
      <td>{{item.edad}}</td>
      <td>{{item.pais.nombre}}</td>
      <td>{{item.estado.nombre}}</td>
      <td>
        <button (click)="editar(item)">Editar</button>
        <button (click)="eliminar(item)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>